body{
  background-color:#000000;
}

.pumpkin{
  background-color:#cc7700;
  height:250px;
  width:300px;
  text-align:center;
  margin: auto;
  border-bottom-right-radius:120px;
  border-bottom-left-radius:120px;
  border-top-left-radius:160px;
  border-top-right-radius:160px;
  margin-top:35px;
  border: 6px solid #a05d00;  
  -webkit-box-shadow: 0 0 15px #fff;
        box-shadow: 0 0 40px #fff;
}

.leave{
  background-color:green;
  width:20px;
  height:30px;
  margin: auto;
  margin-top:-35px;
  margin-bottom:5px;
  /* Rotate div */
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    border-bottom-right-radius:120px;
  border-bottom-left-radius:220px;
  border-top-left-radius:260px;
  border-top-right-radius:50px;
}

.inner-lines{
  height:95%;
  width:80%;
  border-bottom-right-radius:inherit;
  border-bottom-left-radius:inherit;
  border-top-left-radius:inherit;
  border-top-right-radius:inherit;
  border: 6px solid rgba(51,31,0,0.7);
  margin:auto;
}

.middle{
   margin-top:50%;
   height: 170px;
   width:310%;
   margin-left:-105%;
   border-radius:10%;
   border-top-right-radius:100px;
   border-top-left-radius:100px;
   border-bottom-right-radius:100px;
   border-bottom-left-radius:100px;
   background: #cc7700;
   background-attachment: fixed;
   opacity:0.99;
}

.smaller{
  width:70%;
  height:100%;
  margin-top:-6px;

}

.even-smaller{
  height:100%;
  width:50%;
  margin-top:-6px;

}

.left-eye {
  padding-top:15%;
  margin-left:40px;
  width: 10px; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 25px solid black;
}

.right-eye {
  margin-top:-25px;
  margin-left:195px;
  
  width: 10px; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 25px solid black;
}

.tooth-left{
  margin-left:20px;
  width: 3px; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  float:left;
  border-top: 25px solid #cc7700;
}
.tooth-right {
  margin-right:20px;
  width: 3px; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  float:right;
  border-top: 25px solid #cc7700;
}

.tooth-bottom {
  margin-right:20px;
  width: 3px; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  float:right;
  border-bottom: 25px solid #cc7700;
  margin-top:15px;
}

.mouth{
  background-color:black;
  height:40px;
  width:120px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  margin:auto;
  margin-top: 50px;
  overflow:hidden;
  
}